<%- include partials/header.ejs %>

<div class="container">

    <div class = "row">
        <div class = "col-md-12">
            <h1><span class="fa fa-gears" aria-hidden="true"></span> Academy Options </h1>
            <hr>
        <div>
    </div>

    <div class = "row">
        <div class="col-md-12">
           <% if(options){%>
           
           <form id = "setOptions">
            <div class="form-group">
              <label for="academyIntroText">Academy Intro Text</label>
              <textarea rows="5" class="form-control trumbowyg" id="academyIntroText" placeholder="Welcome" ><%=options.academyIntroText%></textarea>
            </div>
            <div class="form-group">
              <label for="academyNewsHeadline">News Headline</label>
              <input type="text" class="form-control" id="academyNewsHeadline" placeholder="Good News" value="<%=options.academyNewsHeadline%>">
            </div>
            <div class="form-group">
              <label for="academyNewsText">News Text</label>
              <textarea rows="5" class="form-control trumbowyg " id="academyNewsText" placeholder="Lorem Ipsum Dolor" ><%-options.academyNewsText%></textarea>
            </div>
            <div class="form-group">
                <label for="academyHomeCta">Hubspot CTA Embed Code</label>
              <textarea rows="5" class="form-control" id="academyHomeCta" placeholder="Lorem Ipsum Dolor" ><%=options.academyHomeCta%></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Set Academy Options</button>
          </form>

          <%} else {%>

             <form id = "setOptions">
              <div class="form-group">
                <label for="academyIntroText">Academy Intro Text</label>
                <textarea  rows="3" class="form-control" id="academyIntroText" placeholder="Welcome"></textarea>
              </div>
              <div class="form-group">
                <label for="academyNewsHeadline">News Headline</label>
                <input type="text" class="form-control" id="academyNewsHeadline" placeholder="Good News">
              </div>
              <div class="form-group">
                <label for="academyNewsText">News Text</label>
                <textarea rows="3" class="form-control" id="academyNewsText" placeholder="Lorem Ipsum Dolor"></textarea>
              </div>
               <div class="form-group">
                <label for="academyHomeCta">Hubspot CTA Embed Code</label>
                <textarea rows="3" class="form-control" id="academyHomeCta" placeholder=""></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Set Academy Options</button>
              </form>

          <%}%>

        </div>
    </div>
</div>

<!-- Modals -->

<%- include partials/footer.ejs %>
