<!doctype html>
<html>
<head>
    <title>Course | Admin</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src = "//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src = "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    </style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin"><span class="glyphicon glyphicon-education" aria-hidden="true"></span></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/admin/courses">Courses</a></li>
        <li><a href="/admin/users">Users</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/admin/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class = "row">
        <div class = "col-md-12">
            <h1><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Academy Admin </h1>
        </div>
    </div>
    <div class = row>
        <div class = "col-md-12">
            <ol class="breadcrumb">
                <li><a href="/admin">Home</a></li>
                <li><a href="/admin/courses">Courses</a></li>
                <li class="active"><%=course.name%></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class = "col-md-12">
            <h3>Edit Course</h3>
            <h2><%=course.name%></h2>
        </div>
    </div>
    
    <div class = "row">
        <div class = "col-md-12">
        <table width='100%' class="table table-striped">
            <thead>
              <th></th>
              <th></th>
              <th>Edit</th>
            </thead>
            <tbody>
                <tr>
                    <td><strong>Course Name</strong></td>
                    <td><%= course.name %></td>
                     <td><button data-toggle="modal" data-target="#updateNameModal" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></td>
                </tr>
                <tr>
                    <td><strong>Description</strong></td>
                    <td><%= course.description %></td>
                    <td><button data-toggle="modal" data-target = "#updateDescriptionModal" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></td>
                </tr>
                <tr>
                    <td><strong>Order</strong></td>
                    <td><%= course.order %></td>
                    <td><button data-toggle="modal" data-target="#updateOrderModal" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></td>
                </tr>
                <tr>
                    <td><strong>Status</strong></td>
                    <td><% if(course.published==true){ %>
                            <strong> Published </strong>
                        <% } else { %>
                            Draft
                        <% } %>
                    </td>
                    <td>
                    <% if(course.published==true){ %>
                          <button data-toggle= "modal" data-target="#updateStatusModal" class="btn btn-warning">Unpublish</button>
                        <% } else { %>
                          <button data-toggle= "modal" data-target="#updateStatusModal"  class="btn btn-primary">Publish</button>
                        <% } %>
                      
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <% if(course.units.length > 0 ){ %>
    <div class = "row">
        <div class = "col-md-12">
        <h3>Course Units</h3>
        <table width='100%' class="table table-striped">
            <thead>
                <th>#</th>
                <th>Unit Name</th>
                <th>Status</th>
                <th>Actions</th>
            </thead>    
            <tbody>
            <% course.units.forEach(function(unit){ %>
                <tr>
                    <td><%= unit.order %></td>
                    <td><%= unit.name %></td>
                    <td><% if(unit.published==true){ %>
                            <strong> Published </strong>
                        <% } else { %>
                            Draft
                        <% } %>
                    </td>
                    <td>
                    <a href = "/admin/courses/<%=course._id%>/units/<%= unit._id %>" data-unit-id = "<%= unit._id %>" class = "btn btn-default">Edit</a>
                    <button  data-unit-id = "<%=unit._id %>" data-unit-name = "<%= unit.name %>" data-course-id="<%=course._id%>" data-toggle="modal" data-target="#unitDeleteModal" class = "btn btn-danger deleteUnit">Delete</button>
                    </td>
                </tr>

            <% }); %>
            </tbody>
            </table>
        </div>
    </div>
    <% } %>
    <div class = "row">
        <div class ="col-md-2">
            <button data-toggle="modal" data-target="#unitAddModal" class = "btn btn-primary deleteCourse"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a New Unit</button>
        </div>
    </div>
</div>

<!-- Modals -->

<div class="modal fade" id="updateNameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Course Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "editTitle">
              <div class="form-group">
                <label forid="newTitle">New Course Name</label>
                <input required type="text" class="form-control" id="newTitle" placeholder="<%=course.name%>">
              </div>
              <button type="submit" data-course-id = "<%=course._id%>"class="btn btn-warning" id="updateName">Update Name</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateDescriptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Course Description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "editDescription">
              <div class="form-group">
                <label forid="newTitle">New Course Description</label>
                <input required type="textfield" class="form-control" id="newDescription" placeholder="<%=course.description%>">
              </div>
              <button type="submit" data-course-id = "<%=course._id%>" class="btn btn-warning" id="updateDescription">Update Description</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Course Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "editDescription">
              <div class="form-group">
                <label forid="newTitle">New Course Order</label>
                <input required type="number" class="form-control" id="newOrder" placeholder="<%=course.order%>" >
              </div>
              <button type="submit" data-course-id = "<%=course._id%>" class="btn btn-warning" id="updateOrder">Update Order</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateStatusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if(course.published==true){ %>
          <button data-course-id = "<%=course._id%>" data-publish="<%=course.published%>" class="btn btn-warning" id="updateStatus">  Unpublish </button>
        <% } else { %>
          <button data-course-id = "<%=course._id%>" data-publish="<%=course.published%>" class="btn btn-primary" id="updateStatus"> Publish </button>
        <% } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="unitAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a New Unit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "addUnit" data-course-id="<%=course._id%>">
            <div class="form-group">
              <label for="unitName">Unit Name*</label>
              <input required type="text" class="form-control" id="unitName" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="unitDescription">Unit Description</label>
              <input type="textarea" class="form-control" id="unitDescription" placeholder="Description">
            </div>
            <div class="form-group">
              <label for="unitOrder">Order</label>
              <input type="number" class="form-control" id="unitOrder">
            </div>
            <button type="submit" class="btn btn-success">Add Unit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="unitDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="unitToDeleteName"></p>
        <strong>You are about to Delete this Unit. This cannot be undone.</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="unitDeleteConfirm">Delete Unit</button>
      </div>
    </div>
  </div>
</div>

<script>

$(document).ready(function(){
    
     $('#unitDeleteModal').on('show.bs.modal', function(e){
        var button = $(e.relatedTarget); 
        var modal = $(this);
        modal.find('#unitToDeleteName').text(button.data('unitName'));
        modal.find('#unitDeleteConfirm').on('click', function(e){
          e.preventDefault();
        var url = "http://localhost:3000/api/courses/" + button.data('courseId') + '/units/' + button.data('unitId');
            $.ajax({
                  type: "DELETE",
                  url: url,
                  dataType: 'json',
                  async: true,
                  success: function (){
                        location.reload(true);
                    }
            })
        })
    });

    $("#updateName").on('click', function(e){
      e.preventDefault();
      var url = "http://localhost:3000/api/courses/" + $(this).data('courseId');
      data = {
        name: $('#newTitle').val()
      }
      $.ajax({
                type: "PUT",
                url: url,
                dataType: 'json',
                async: true,
                data: data,
                success: function (){
                  location.reload(true);                    
                }
      });
    })

    $("#updateDescription").on('click', function(e){
      e.preventDefault();
      var url = "http://localhost:3000/api/courses/" + $(this).data('courseId');
      data = {
        description: $('#newDescription').val()
      }
      $.ajax({
                type: "PUT",
                url: url,
                dataType: 'json',
                async: true,
                data: data,
                success: function (){
                        location.reload(true);                    
                    }
      });
    })

    $("#updateOrder").on('click', function(e){
      e.preventDefault();
      var url = "http://localhost:3000/api/courses/" + $(this).data('courseId');
      data = {
        order: $('#newOrder').val()
      }
      $.ajax({
                type: "PUT",
                url: url,
                dataType: 'json',
                async: true,
                data: data,
                success: function (){
                        location.reload(true);                    
                    }
      });
    })
    
      $("#updateStatus").on('click', function(e){
        e.preventDefault();
        var url = "http://localhost:3000/api/courses/" + $(this).data('courseId');
        data = {
          published: !$(this).data('publish')
        }
      $.ajax({
                type: "PUT",
                url: url,
                dataType: 'json',
                async: true,
                data: data,
                success: function (){
                        location.reload(true);                    
                    }
      });
    })

    $('#addUnit').submit(function(e){
      e.preventDefault();
      var url = "http://localhost:3000/api/courses/" + $(this).data('courseId') + "/units";
      var data = {};
      data.name = $("#unitName").val();
      data.description = $("#unitDescription").val();
      data.order = $("#unitOrder").val() || 99;
      $.ajax({
          type: "POST",
          url: url,
          dataType: 'json',
          async: true,
          data: data,
          success: function (){
                location.reload(true);                    
              }
          });
    });

})
</script>
</body>
</html>
