<%- include partials/header.ejs %>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand"  href="/admin"><span class="fa fa-graduation-cap" aria-hidden="true"></span></a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class=" navbar-nav mr-auto">
        <li class = "nav-item"><a href="/admin/courses" class = "nav-link active">Courses</a></li>
        <li class = "nav-item"><a href="/admin/users" class = "nav-link">Users</a></li>
        <li class = "nav-item"><a href="/admin/quizzes" class = "nav-link">Quizzes</a></li>
        <li class = "nav-item"><a href="/admin/academy" class = "nav-link">Options</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class = "nav-item"><a href="/logout" class="nav-link">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<div class="container">

      <div class = row>
        <div class = "col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                <li class = "breadcrumb-item active">Courses</li>
            </ol>
        </div>
    </div>

    <div class = "row">
        <div class = "col-md-12">
            <h1><span class="fa fa-book" aria-hidden="true"> </span> Academy Courses</h1>
            <hr>
        <div>
    </div>

    <div class = "row">
        <div class="col-md-12">
            <h2>Courses </h2>
        </div>
    </div>
    <div class = "row">
        <div class="col-md-12">
            <table width='100%' class="table table-striped">
            <thead>
                <th>#</th>
                <th>Course Name</th>
                <th>Status</th>
                <th>Actions</th>
            </thead>    
            <tbody>
            <% courses.forEach(function(course){ %>
                <tr>
                    <td><%= course.order %></td>
                    <td><%= course.name %></td>
                    <td><% if(course.published==true){ %>
                            <strong> Published </strong>
                        <% } else { %>
                            Draft
                        <% } %>
                    </td>
                    <td>
                    <a href = "/admin/courses/<%= course._id %>" data-course-id = "<%= course._id %>" class = "btn btn-secondary">Edit</a>
                    <button  data-course-id = "<%= course._id %>" data-course-name = "<%= course.name %>" data-toggle="modal" data-target="#courseDeleteModal" class = "btn btn-danger deleteCourse">Delete</button>
                    </td>
                </tr>

            <% }); %>
            </tbody>
            </table>
        </div>
    </div>
    <div class = "row">
        <div class ="col-md-2">
            <button data-toggle="modal" data-target="#courseAddModal" class = "btn btn-primary"><span class="fa fa-plus" aria-hidden="true"></span> Add a New Course</button>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="courseAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a New Course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "addCourse">
            <div class="form-group">
              <label for="courseName">Course Name*</label>
              <input required type="text" class="form-control" id="courseName" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="courseDescription">Course Description</label>
              <input type="textarea" class="form-control" id="courseDescription" placeholder="Course Description">
            </div>
            <div class="form-group">
              <label for="courseOrder">Order</label>
              <input type="number" class="form-control" id="courseOrder">
            </div>
            <button type="submit" class="btn btn-success">Add Course</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="courseDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="courseToDeleteName"></p>
        <strong>You are about to Delete this course. This cannot be undone.</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="courseDeleteConfirm">Delete Course</button>
      </div>
    </div>
  </div>
</div>

<!-- Scripts --> 
<%- include partials/footer.ejs %>

<script>

$(document).ready(function(){
    
    $("#addCourse").submit(function(e){
        e.preventDefault();
        var data = {}
        data.name = $("#courseName").val();
        data.description = $("#courseDescription").val();
        data.order = $("#courseOrder").val()||99;
        $.ajax({
            type: "POST",
            url: "http://localhost:3000/api/courses",
            dataType: 'json',
            async: true,
            data: data,
            success: function (){
                    location.reload(true);                    
                }
            });
    })

    $('#courseDeleteModal').on('show.bs.modal', function(e){
        var button = $(e.relatedTarget); 
        var modal = $(this);
        modal.find('#courseToDeleteName').text(button.data('courseName'));
        modal.find('#courseDeleteConfirm').on('click', function(e){
            var url = "http://localhost:3000/api/courses/" + button.data('courseId');
            $.ajax({
                  type: "DELETE",
                  url: url,
                  dataType: 'json',
                  async: true,
                  success: function (){
                        location.reload(true);
                    }
            })
        })
    });

    $('#courseDeleteModal').on('hide.bs.modal', function(e){
        var modal = $(this);
        modal.find('#courseDeleteConfirm').off('click');
    });
    
})
</script>
</body>
</html>
