<%- include partials/header.ejs %>

<div class="container">

    <div class = "row">
        <div class = "col-md-12">
            <h1><span class="fa fa-graduation-cap" aria-hidden="true"> </span> Academy Courses</h1>
            <hr>
        <div>
    </div>

    <div class = "row">
        <div class="col-md-12">
            <h2>Courses </h2>
        </div>
    </div>
    <div class = "row">
        <div class="col-md-12">
            <table width='100%' class="table table-striped">
            <thead>
                <th>#</th>
                <th>Course Name</th>
                <th>Status</th>
                <th>Actions</th>
            </thead>    
            <tbody>
            <% courses.forEach(function(course){ %>
                <tr>
                    <td><%= course.order %></td>
                    <td><%= course.name %></td>
                    <td><% if(course.published==true){ %>
                            <strong> Published </strong>
                        <% } else { %>
                            Draft
                        <% } %>
                    </td>
                    <td>
                    <a href = "/admin/courses/<%= course._id %>" data-course-id = "<%= course._id %>" class = "btn btn-secondary">Edit</a>
                    <button  data-course-id = "<%= course._id %>" data-course-name = "<%= course.name %>" data-toggle="modal" data-target="#courseDeleteModal" class = "btn btn-danger deleteCourse">Delete</button>
                    </td>
                </tr>

            <% }); %>
            </tbody>
            </table>
        </div>
    </div>
    <div class = "row">
        <div class ="col-md-2">
            <button data-toggle="modal" data-target="#courseAddModal" class = "btn btn-primary"><span class="fa fa-plus" aria-hidden="true"></span> Add a New Course</button>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="courseAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a New Course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "addCourse">
            <div class="form-group">
              <label for="courseName">Course Name*</label>
              <input required type="text" class="form-control" id="courseName" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="courseDescription">Course Description</label>
              <input type="textarea" class="form-control" id="courseDescription" placeholder="Course Description">
            </div>
            <div class="form-group">
              <label for="courseOrder">Order</label>
              <input type="number" class="form-control" id="courseOrder">
            </div>
            <button type="submit" class="btn btn-success">Add Course</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="courseDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="courseToDeleteName"></p>
        <strong>You are about to Delete this course. This cannot be undone.</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="courseDeleteConfirm">Delete Course</button>
      </div>
    </div>
  </div>
</div>

<%- include partials/footer.ejs %>
