<%- include partials/header.ejs %>

<div class="container">

    <div class = "row">
        <div class = "col-md-12">
            <h1><span class="fa fa-book" aria-hidden="true"> </span> Academy Courses</h1>
            <hr>
        <div>
    </div>

    <div class = "row">
        <div class="col-md-12">
            <h2>Feedback </h2>
        </div>
    </div>
    <div class = "row">
        <div class="col-md-12">
            <table width='100%' class="table table-striped">
            <thead>
                <th>Title</th>
                <th>Votes</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </thead>    
            <tbody>
            <% feedback.forEach(function(feedback){ %>
                <tr>
                    <td><%= feedback.title %><br>by <%=feedback.suggestedByEmail%></td>
                    <td><%= feedback.userVotes.length %></td>

                    <td><%= feedback.description %></td>
                    <td><% if(feedback.published){%>
                        <strong>Published</strong>
                        <%} else {%>
                        Unpublished
                        <%}%>
                    </td>
                    <td>
                        <button  data-feedback-id = "<%= feedback._id %>" data-feedback-name = "<%= feedback.title %>" data-toggle="modal" data-target="#feedbackDeleteModal" class = "btn btn-danger deleteCourse">Delete</button>
                    
                        <% if(feedback.published==true){ %>
                          <button data-feedback-id = "<%= feedback._id %>" data-publish="<%=feedback.published%>" data-toggle= "modal" data-target="#updateStatusModal" class="btn btn-warning">Unpublish</button>
                        <% } else { %>
                          <button data-feedback-id = "<%= feedback._id %>"  data-publish="<%=feedback.published%>" data-toggle= "modal" data-target="#updateStatusModal"  class="btn btn-primary">Publish</button>
                        <% } %>
                      
                    </td>
                </tr>

            <% }); %>
            </tbody>
            </table>
        </div>
    </div>
    
</div>

<!-- Modals -->

<div class="modal fade" id="feedbackDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="feedbackToDeleteName"></p>
        <strong>You are about to Delete this Idea. This cannot be undone.</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="feedbackDeleteConfirm">Delete</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="updateStatusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <button class="btn btn-warning" id="toggleStatus"> Toggle Status </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<%- include partials/footer.ejs %>
