<%- include partials/header.ejs %>
<body>

<div class="container">
    
    <div class = "row">
        <div class = "col-md-12">
            <h1><span class="fa fa-list" aria-hidden="true"> </span> Leaderboard </h1>
            <hr>
        <div>
    </div>

    <div class = "row">
        <div class = "col-md-12">
            <p><button id = "refreshUsers" class="btn-primary btn"  data-toggle="modal" data-target="#refreshUserScoresModal"  >Refresh Scores and Ranks</button></p>
        <div>
    </div>

    <div class = "row">
        <div class="col-md-12">
            <table width='100%' class="table table-striped">
            <thead class="thead-default">
                <th>Rank</th>
                <th>Name</th>
                <th>Email</th>
                <th>Score</th>
            </thead>    
            <tbody>
            <%  let previousScore = 0;
                let rank = 0;
                users.forEach(function(user){
                    let lastInitial = user.local.profile.lastName.substr(0,1);
                    if( user.local.academyScore != previousScore){
                        previousScore = user.local.academyScore;
                        rank ++;
                    }
                 %>
                <tr>
                    <td><%= rank %></td>
                    <td><%= user.local.profile.firstName%> <%=lastInitial%>.</td>
                    <td><%= user.local.email %></td>                    
                    <td><%= user.local.academyScore %></td>                    
                </tr>
            <% }); %>
            </tbody>
            </table>
        </div>
    </div>
    
<!-- Modals -->


<div class="modal fade" id="refreshUserScoresModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Refresh</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Users will be refreshed. Depending on the number of users, you may need to wait to see the results.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="userRefreshConfirm">Ok</button>
      </div>
    </div>
  </div>
</div>

<!-- scripts -->
<%- include partials/footer.ejs%>

</body>
</html>
