<!doctype html>
<html>
<head>
    <title>Module | Admin</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src = "//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src = "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    </style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin"><span class="glyphicon glyphicon-education" aria-hidden="true"></span></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/admin/courses">Courses</a></li>
        <li><a href="/admin/users">Users</a></li>
        <li><a href="/admin/quizzes">Quizzes</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/admin/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class = "row">
        <div class = "col-md-12">
            <h1><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Academy Admin </h1>
        </div>
    </div>
    <div class = row>
        <div class = "col-md-12">
            <ol class="breadcrumb">
                <li><a href="/admin">Home</a></li>
                <li><a href="/admin/courses">Courses</a></li>
                <li><a href="/admin/courses/<%=course._id%>"><%=course.name%></a></li>
                <li><a href="/admin/courses/<%=course._id%>/units/<%=unit._id%>"><%=unit.name%></a></li>
                <li class="active"><%=module.name%></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class = "col-md-12">
            <h3>Edit Module</h3>
            <h2><%=module.name%></h2>
        </div>
    </div>
    
    <div class = "row">
        <div class = "col-md-12">
        <table width='100%' class="table table-striped">
            <thead>
              <th></th>
              <th></th>
              <th>Edit</th>
            </thead>
            <tbody>
                <tr>
                    <td><strong>Module Name</strong></td>
                    <td><%= module.name %></td>
                     <td><button data-toggle="modal" data-target="#updateNameModal" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></td>
                </tr>
                <tr>
                    <td><strong>Description</strong></td>
                    <td><%= module.description %></td>
                    <td><button data-toggle="modal" data-target = "#updateDescriptionModal" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></td>
                </tr>
                <tr>
                    <td><strong>Type</strong></td>
                    <td><%= module.type %></td>
                    <td></td>
                </tr>
                <tr>
                    <td><strong>Order</strong></td>
                    <td><%= module.order %></td>
                    <td><button data-toggle="modal" data-target="#updateOrderModal" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></td>
                </tr>
                <tr>
                    <td><strong>Video ID</strong></td>
                    <td><%= module.videoId %></td>
                    <td><button data-toggle="modal" data-target="#updateVideoIdModal" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <% if(module.resources.length > 0 ){ %>
    <div class = "row">
        <div class = "col-md-12">
        <h3>Resources</h3>
        <table width='100%' class="table table-striped">
            <thead>
                <th>Title</th>
                <th>URL</th>
                <th>Actions</th>
            </thead>    
            <tbody>
            <% module.resources.forEach(function(resource){ %>
                <tr>
                    <td><%= resource.title %></td>
                    <td><%= resource.url %></td>
                    <td>
                      <button  data-resources = "<%= JSON.stringify(module.resources) %>" data-module-id = "<%=module._id %>" data-unit-id= "<%=unit._id%>" data-module-name = "<%= module.name %>" data-course-id="<%=course._id%>" data-resource-id ="<%=resource._id%>" data-toggle="modal" data-target="#deleteResourceModal" class = "btn btn-danger deleteResource">Delete</button>
                    </td>
                </tr>

            <% }); %>
            </tbody>
            </table>
        </div>
    </div>
    <% } %>
    <div class = "row">
        <div class ="col-md-2">
            <button data-toggle="modal" data-target="#addResourceModal" class = "btn btn-primary deleteCourse"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a New Resource</button>
        </div>
    </div>
</div> 

<!-- Modals -->

<div class="modal fade" id="updateNameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Unit Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "editTitle">
              <div class="form-group">
                <label forid="newTitle">New Module Name</label>
                <input required type="text" class="form-control" id="newTitle" placeholder="<%=module.name%>">
              </div>
              <button type="submit" data-course-id = "<%=course._id%>" data-unit-id = "<%=unit._id%>" data-module-id="<%=module._id%>" class="btn btn-warning" id="updateName">Update Name</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateDescriptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Module Description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "editDescription">
              <div class="form-group">
                <label forid="newTitle">New Module Description</label>
                <input required type="textfield" class="form-control" id="newDescription" placeholder="<%=module.description%>">
              </div>
              <button type="submit" data-course-id = "<%=course._id%>" data-unit-id = "<%=unit._id%>" data-module-id="<%=module._id%>" class="btn btn-warning" id="updateDescription">Update Description</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit ModuleOrder</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "editDescription">
              <div class="form-group">
                <label forid="newTitle">New Module Order</label>
                <input required type="number" class="form-control" id="newOrder" placeholder="<%=module.order%>" >
              </div>
              <button type="submit" data-course-id = "<%=course._id%>" data-unit-id = "<%=unit._id%>" data-module-id="<%=module._id%>" class="btn btn-warning" id="updateOrder">Update Order</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addResourceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <h5 class="modal-title" id="exampleModalLabel">Add a Resource</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "addResource" data-resources="<%= JSON.stringify(module.resources) %>" data-course-id="<%=course._id%>" data-unit-id="<%=unit._id%>" data-module-id="<%=module._id%>">
            <div class="form-group">
              <label for="resourceName">Resouce Name</label>
              <input required type="text" class="form-control" id="resourceName" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="resourceUrl">Resource URL</label>
              <input required type="textarea" class="form-control" id="resourceUrl" placeholder="Description">
            </div>
            <button type="submit" class="btn btn-success">Add Resource</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteResourceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="resourceToDeleteName"></p>
        <strong>You are about to Delete this Resource. This cannot be undone.</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="resourceDeleteConfirm">Delete Module</button>
      </div>
    </div>
  </div>
</div>

<script>

$(document).ready(function(){

    $("#updateName").on('click', function(e){
      var modal = $("#updateName");
      e.preventDefault();
      var url = "http://localhost:3000/api/courses/" + $(this).data('courseId') + /units/ + $(this).data('unitId') + '/modules/' + $(this).data('moduleId');
      data = {
        name: $('#newTitle').val()
      }
      $.ajax({
          type: "PUT",
          url: url,
          dataType: 'json',
          async: true,
          data: data,
          success: function (){
              location.reload(true);
          }
      });
    })

    $("#updateDescription").on('click', function(e){
      e.preventDefault();
      var url = "http://localhost:3000/api/courses/" + $(this).data('courseId') + /units/ + $(this).data('unitId') + '/modules/' + $(this).data('moduleId');      
      data = {
        description: $('#newDescription').val()
      }
      $.ajax({
          type: "PUT",
          url: url,
          dataType: 'json',
          async: true,
          data: data,
          success: function (){
              location.reload(true);                    
          }
      });
    })

    $("#updateOrder").on('click', function(e){
      e.preventDefault();
      var url = "http://localhost:3000/api/courses/" + $(this).data('courseId') + /units/ + $(this).data('unitId') + '/modules/' + $(this).data('moduleId');      
      data = {
        order: $('#newOrder').val()
      }
      $.ajax({
          type: "PUT",
          url: url,
          dataType: 'json',
          async: true,
          data: data,
          success: function (){
              location.reload(true);                    
          }
      });
    })

    $('#deleteResourceModal').on('show.bs.modal', function(e){
        var button = $(e.relatedTarget); 
        var modal = $(this);
        modal.find('#resourceDeleteConfirm').on('click', function(e){
          e.preventDefault();          
          var data = {};
          var resourcesArray = button.data('resources');
          var resourceToDeleteId = button.data('resourceId')
          data.resources = JSON.stringify(resourcesArray.filter( resource => resource._id != resourceToDeleteId));
          var url = "http://localhost:3000/api/courses/" + button.data('courseId') + '/units/' + button.data('unitId') + '/modules/' + button.data('moduleId');
             $.ajax({
                  type: "PUT",
                  url: url,
                  dataType: 'json',
                  data: data,
                  async: true,
                  success: function (){
                     location.reload(true);
                  }
            })
        })
    });

    $('#deleteResourceModal').on('hide.bs.modal', function(e){
        var modal = $(this);
        modal.find('#resourceDeleteConfirm').off('click');
    });

    $('#addResource').submit(function(e){
      var modal = $("#moduleAddModal");

      e.preventDefault();
      var url = "http://localhost:3000/api/courses/" + $(this).data('courseId') + "/units/" + $(this).data('unitId') + "/modules/" + $(this).data('moduleId');
      var data = {};
      var newResource = {}
      var r = $(this).data('resources') ;
      var resources = JSON.parse(JSON.stringify(r));
      newResource.title = $("#resourceName").val();
      newResource.url = $("#resourceUrl").val();
      var newResource = {
          title: newResource.title,
          url: newResource.url
      };
      resources.push(newResource);
      data.resources = JSON.stringify(resources);
      $.ajax({
        type: "PUT",
        url: url,
        dataType: 'json',
        async: true,
        data: data,
        success: function (){
              location.reload(true);                    
            }
        });
    });

})
</script>
</body>
</html>
