<%- include partials/header.ejs %>

<div class="container">

    <div class = "row">
        <div class = "col-md-12">
            <h1><span class="fa fa-graduation-cap" aria-hidden="true"> </span> Module: <%=module.name%></h1>
            <hr>
        <div>
    </div>

    <div class="row">
        <div class = "col-md-12">
            <p>This Module is part of <strong><%=unit.name%></strong> which is part of <strong><%=course.name%></strong></p>
            <h2>Edit Module</h2>
        </div>
    </div>
    
    <div class = "row">
        <div class = "col-md-12">
        <table width='100%' class="table table-striped">
            <thead class="thead-default">
              <th></th>
              <th></th>
              <th>Edit</th>
            </thead>
            <tbody>
                <tr>
                    <td><strong>Module Name</strong></td>
                    <td><%= module.name %></td>
                     <td><button data-toggle="modal" data-target="#updateNameModal" class="btn btn-secondary"><span class="fa fa-pencil" aria-hidden="true"></span></button></td>
                </tr>
                <tr>
                    <td><strong>Description</strong></td>
                    <td><%= module.description %></td>
                    <td><button data-toggle="modal" data-target = "#updateDescriptionModal" class="btn btn-secondary"><span class="fa fa-pencil" aria-hidden="true"></span></button></td>
                </tr>
                <tr>
                    <td><strong>Type</strong></td>
                    <td><%= module.type %></td>
                    <td><button data-toggle="modal" data-target="#updateTypeModal" class="btn btn-secondary"><span class="fa fa-pencil" aria-hidden="true"></span></button></td>
                </tr>
                <tr>
                    <td><strong>Order</strong></td>
                    <td><%= module.order %></td>
                    <td><button data-toggle="modal" data-target="#updateOrderModal" class="btn btn-secondary"><span class="fa fa-pencil" aria-hidden="true"></span></button></td>
                </tr>
                <tr>
                    <td><strong>Content ID</strong></td>
                    <td><%= module.contentId %></td>
                    <td><button data-toggle="modal" data-target="#updateContentIdModal" class="btn btn-secondary"><span class="fa fa-pencil" aria-hidden="true"></span></button></td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <% if(module.resources.length > 0 ){ %>
    <div class = "row">
        <div class = "col-md-12">
        <h3>Resources</h3>
        <table width='100%' class="table table-striped">
            <thead>
                <th>Title</th>
                <th>URL</th>
                <th>Actions</th>
            </thead>    
            <tbody>
            <% module.resources.forEach(function(resource){ %>
                <tr>
                    <td><%= resource.title %></td>
                    <td><%= resource.url %></td>
                    <td>
                      <button  data-resources = "<%= JSON.stringify(module.resources) %>" data-module-id = "<%=module._id %>" data-unit-id= "<%=unit._id%>" data-module-name = "<%= module.name %>" data-course-id="<%=course._id%>" data-resource-id ="<%=resource._id%>" data-toggle="modal" data-target="#deleteResourceModal" class = "btn btn-danger deleteResource">Delete</button>
                    </td>
                </tr>

            <% }); %>
            </tbody>
            </table>
        </div>
    </div>
    <% } %>
    <div class = "row">
        <div class ="col-md-2">
            <button data-toggle="modal" data-target="#addResourceModal" class = "btn btn-primary deleteCourse"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a New Resource</button>
        </div>
    </div>
</div> 

<!-- Modals -->

<div class="modal fade" id="updateNameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Module Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "editTitle">
              <div class="form-group">
                <label forid="newTitle">New Module Name</label>
                <input required type="text" class="form-control" id="newTitle" placeholder="<%=module.name%>">
              </div>
              <button type="submit" data-course-id = "<%=course._id%>" data-unit-id = "<%=unit._id%>" data-module-id="<%=module._id%>" class="btn btn-warning" id="updateName">Update Name</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateTypeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Module Type</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "editType">
          <div class="form-group">
              <label>Module Type</label>
              <div class="radio">
                <label for="moduleTypeVideo">
                <input type="radio"  name="optionsModuleTypes" id="moduleTypeVideo" value="Video" <% if (module.type=='Video'){%> checked <%}%> >Video</label>
              </div>
              <div class="radio">
                <label for="moduleTypeQuiz">
                <input type="radio" name="optionsModuleTypes" id="moduleTypeQuiz" <% if (module.type=='Quiz'){%> checked <%}%>  value="Quiz">Quiz</label>
              </div>
            </div>
              <button type="submit" data-course-id = "<%=course._id%>" data-unit-id = "<%=unit._id%>" data-module-id="<%=module._id%>" class="btn btn-warning" id="updateType">Update Type</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateContentIdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Content ID</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "editTitle">
              <div class="form-group">
                <label forid="newTitle">New Content ID</label>
                <input required type="text" class="form-control" id="newContentId" value="<%=module.contentId%>"  placeholder="<%=module.contentId%>">
              </div>
              <button type="submit" data-course-id = "<%=course._id%>" data-unit-id = "<%=unit._id%>" data-module-id="<%=module._id%>" class="btn btn-warning" id="updateContentId">Update Content ID</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateDescriptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Module Description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "editDescription">
              <div class="form-group">
                <label forid="newTitle">New Module Description</label>
                <input required type="textfield" class="form-control" id="newDescription" placeholder="<%=module.description%>">
              </div>
              <button type="submit" data-course-id = "<%=course._id%>" data-unit-id = "<%=unit._id%>" data-module-id="<%=module._id%>" class="btn btn-warning" id="updateDescription">Update Description</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Module Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "editDescription">
              <div class="form-group">
                <label forid="newTitle">New Module Order</label>
                <input required type="number" class="form-control" id="newOrder" placeholder="<%=module.order%>" >
              </div>
              <button type="submit" data-course-id = "<%=course._id%>" data-unit-id = "<%=unit._id%>" data-module-id="<%=module._id%>" class="btn btn-warning" id="updateOrder">Update Order</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addResourceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <h5 class="modal-title" id="exampleModalLabel">Add a Resource</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "addResource" data-resources="<%= JSON.stringify(module.resources) %>" data-course-id="<%=course._id%>" data-unit-id="<%=unit._id%>" data-module-id="<%=module._id%>">
            <div class="form-group">
              <label for="resourceName">Resouce Name</label>
              <input required type="text" class="form-control" id="resourceName" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="resourceUrl">Resource URL</label>
              <input required type="textarea" class="form-control" id="resourceUrl" placeholder="Description">
            </div>
            <button type="submit" class="btn btn-success">Add Resource</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteResourceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="resourceToDeleteName"></p>
        <strong>You are about to Delete this Resource. This cannot be undone.</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="resourceDeleteConfirm">Delete Module</button>
      </div>
    </div>
  </div>
</div>

<%- include partials/footer.ejs%>