<%- include partials/header.ejs %>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand"  href="/admin"><span class="fa fa-graduation-cap" aria-hidden="true"></span></a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class=" navbar-nav mr-auto">
        <li class = "nav-item"><a href="/admin/courses" class = "nav-link">Courses</a></li>
        <li class = "nav-item"><a href="/admin/users" class = "nav-link">Users</a></li>
        <li class = "nav-item"><a href="/admin/quizzes" class = "nav-link active">Quizzes</a></li>
        <li class = "nav-item"><a href="/admin/academy" class = "nav-link">Options</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class = "nav-item"><a href="/logout" class="nav-link">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<div class="container">
    <div class = row>
        <div class = "col-md-12">
            <ol class="breadcrumb">
                <li class = "breadcrumb-item"><a href="/admin">Home</a></li>
                <li class = "breadcrumb-item active">Quizzes</li>
            </ol>
        </div>
    </div>
    <div class = "row">
        <div class = "col-md-12">
            <h1><span class="fa fa-question-circle" aria-hidden="true"> </span> Academy Quizzes</h1>
            <hr>
        <div>
    </div>

    <div class = "row">
        <div class="col-md-12">
            <h2>Quizzes</h2>
        </div>
    </div>
    <div class = "row">
        <div class="col-md-12">
            <table width='100%' class="table table-striped">
            <thead>
                <th>Quiz Name</th>
                <th>Quiz ID</th>
                <th>Actions</th>
            </thead>    
            <tbody>
            <% quizzes.forEach(function(quiz){ %>
                <tr>
                    <td><%= quiz.name %></td>
                    <td><%= quiz._id %></td>
                    <td>
                    <a href = "/admin/quizzes/<%= quiz._id %>" data-quiz-id = "<%= quiz._id %>" class = "btn btn-secondary">Edit</a>
                    <button  data-quiz-id = "<%= quiz._id %>" data-quiz-name = "<%= quiz.name %>" data-toggle="modal" data-target="#deleteQuizModal" class = "btn btn-danger deleteQuiz">Delete</button>
                    </td>
                </tr>

            <% }); %>
            </tbody>
            </table>
        </div>
    </div>
    <div class = "row">
        <div class ="col-md-2">
            <button data-toggle="modal" data-target="#addQuizModal" class = "btn btn-primary"><span class="fa fa-plus" aria-hidden="true"></span> Add a New Quiz</button>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="addQuizModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a New Quiz</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "addQuiz">
            <div class="form-group">
              <label for="quizName">Quiz Name*</label>
              <input required type="text" class="form-control" id="quizName" placeholder="Name">
            </div>
            <button type="submit" class="btn btn-success">Add Quiz</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteQuizModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="quizToDeleteName"></p>
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <strong>You are about to Delete this Quiz.This cannot be undone.</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="quizDeleteConfirm">Delete Quiz</button>
      </div>
    </div>
  </div>
</div>

<!-- Scripts --> 
<%- include partials/footer.ejs %>
<script>

$(document).ready(function(){
    
    $("#addQuiz").submit(function(e){
        e.preventDefault();
        var data = {}
        data.name = $("#quizName").val();
        $.ajax({
            type: "POST",
            url: "/api/quizzes",
            dataType: 'json',
            async: true,
            data: data,
            success: function (){
                location.reload(true);                    
              }
            });
    })

    $('#deleteQuizModal').on('show.bs.modal', function(e){
        var button = $(e.relatedTarget); 
        var modal = $(this);
        modal.find('#quizToDeleteName').text(button.data('quizName'));
        modal.find('#quizDeleteConfirm').on('click', function(e){
            var url = "/api/quizzes/" + button.data('quizId');
            $.ajax({
                  type: "DELETE",
                  url: url,
                  dataType: 'json',
                  async: true,
                  success: function (){
                        location.reload(true);
                    }
            })
        })
    });

    $('#deleteQuizModal').on('hide.bs.modal', function(e){
        var modal = $(this);
        modal.find('#quizDeleteConfirm').off('click');
    });
    
})
</script>
</body>
</html>
