<%- include partials/header.ejs %>
<body>

<div class="container">
   
    <div class = "row">
        <div class = "col-md-12">
            <h1><span class="fa fa-question-circle" aria-hidden="true"> </span> Quiz: <%=quiz.name%></h1>
        <div>
    </div>

    <div class = "row">
        <div class = "col-md-12">
        <table width='100%' class="table table-striped">
            <thead>
              <th></th>
              <th></th>
              <th>Edit</th>
            </thead>
            <tbody>
                <tr>
                    <td><strong>Quiz Name</strong></td>
                    <td><%= quiz.name %></td>
                     <td><button data-toggle="modal" data-target="#updateNameModal" class="btn btn-secondary"><span class="fa fa-pencil" aria-hidden="true"></span></button></td>
                </tr>
                <tr>
                    <td><strong>Quiz Description</strong></td>
                    <td><%= quiz.main %></td>
                    <td><button data-toggle="modal" data-target = "#updateDescriptionModal" class="btn btn-secondary"><span class="fa fa-pencil" aria-hidden="true"></span></button></td>
                </tr>
                <tr>
                    <td><strong>Results Copy</strong></td>
                    <td><%= quiz.results %></td>
                    <td><button data-toggle="modal" data-target="#updateResultsModal" class="btn btn-secondary"><span class="fa fa-pencil" aria-hidden="true"></span></button></td>
                </tr>
                
            </tbody>
            </table>
        </div>
    </div>

    <h3>Quiz Questions</h3>
    <% if(quiz.questions.length > 0){ %>
      <div class = "row">
          <div class="col-md-12">
              <table width='100%' class="table table-striped">
              <thead>
                  <th>#</th>
                  <th>Question</th>
                  <th>Actions</th>
              </thead>    
              <tbody>
              <% quiz.questions.forEach(function(question){ %>
                  <tr>
                      <td><%=question.order%></td>
                      <td><%= question.q %></td>
                      <td>
                      <a href = "/admin/quizzes/<%= quiz._id %>/questions/<%=question._id%>" data-quiz-id = "<%= quiz._id %>" class = "btn   btn-secondary">Edit</a>
                      <button  data-quiz-id = "<%= quiz._id %>" data-question-id="<%=question._id%>" data-quiz-name = "<%= quiz.name %>" data-toggle="modal" data-target="#deleteQuestionModal" class = "btn btn-danger deleteQuestion">Delete</button>
                      </td>
                  </tr>
  
              <% }); %>
              </tbody>
              </table>
          </div>
      </div>
     <% }%>
    <div class = "row">
        <div class ="col-md-2">
            <button data-toggle="modal" data-target="#addQuestionModal" class = "btn btn-primary"><span class="fa fa-plus" aria-hidden="true"></span> Add Quiz Question</button>
        </div>
    </div>
</div>

<!-- Modals -->

<div class="modal fade" id="updateNameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Quiz Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "editName">
              <div class="form-group">
                <label forid="newTitle">New Quiz Name</label>
                <input required type="text" class="form-control" id="newTitle" value="<%=quiz.name%>" placeholder="<%=quiz.name%>">
              </div>
              <button type="submit" data-quiz-id = "<%=quiz._id%>"class="btn btn-warning" id="updateName">Update Name</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateDescriptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Quiz Description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "editDescription">
              <div class="form-group">
                <label forid="newTitle">New Quiz Description</label>
                <input required type="textfield" class="form-control" id="newDescription" value="<%=quiz.description%>" placeholder="<%=quiz.description%>">
              </div>
              <button type="submit" data-quiz-id = "<%=quiz._id%>" class="btn btn-warning" id="updateDescription">Update Description</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateResultsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Quiz Results Copy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "editDescription">
              <div class="form-group">
                <label forid="newOrder">New Results Copy </label>
                <input required type="textfield" class="form-control" id="newResultsCopy" placeholder="<%=quiz.results%>" value = <%=quiz.results%> >
              </div>
              <button type="submit" data-quiz-id = "<%=quiz._id%>" class="btn btn-warning" id="updateResultsCopy">Update Results Copy</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a New Question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "addQuestion" data-quiz-id = "<%=quiz._id%>">
            <div class="form-group">
              <label for="quizQuestion">Question*</label>
              <input required type="text" class="form-control" id="quizQuestion" placeholder="What is the sound of one hand clapping?">
            </div>
            <div class="form-group">
              <label for="quizCorrectResponse">Correct Response*</label>
              <input required type="text" class="form-control" id="quizCorrectResponse" placeholder="Correct">
            </div>
            <div class="form-group">
              <label for="quizIncorrectResponse">Incorrect Response*</label>
              <input required type="text" class="form-control" id="quizIncorrectResponse" placeholder="Incorrect">
            </div>
            <div class="form-group">
              <label for="quizAnswers">Answers</label>
              <div class="form-horizontal" id="quizAnswers">
                <div class="quizAnswer">
                  <input type="text" class="form-control">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> Check if Correct
                      </label>
                    </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <a href="#" id="quizAddAnswer" class = "btn btn-primary"><span class="fa fa-plus" aria-hidden="true"></a>
              <label for="quizAddAnswer">Add Answer Option</label>
            </div>
            <button type="submit" class="btn btn-success">Add Question</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
      </div>
    </div>
  </div>
</div>


 <div class="modal fade" id="deleteQuestionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <strong>You are about to Delete this Question.This cannot be undone.</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="questionDeleteConfirm">Delete Question</button>
      </div>
    </div>
  </div>
</div>


<!-- Scripts --> 
<%- include partials/footer.ejs %>

<script>

$(document).ready(function(){


   $("#updateName").on('click', function(e){
      e.preventDefault();
      var url = "/api/quizzes/" + $(this).data('quizId');
      data = {
        name: $('#newTitle').val()
      }
      $.ajax({
                type: "PUT",
                url: url,
                dataType: 'json',
                async: true,
                data: data,
                success: function (){
                  location.reload(true);                    
                }
      });
    })

    $("#updateDescription").on('click', function(e){
      e.preventDefault();
      var url = "/api/quizzes/" + $(this).data('quizId');
      data = {
        main: $('#newDescription').val()
      }
      $.ajax({
                type: "PUT",
                url: url,
                dataType: 'json',
                async: true,
                data: data,
                success: function (){
                        location.reload(true);                    
                    }
      });
    })

 $("#updateResultsCopy").on('click', function(e){
      e.preventDefault();
      var url = "/api/quizzes/" + $(this).data('quizId');
      data = {
        results: $('#newResultsCopy').val()
      }
      $.ajax({
                type: "PUT",
                url: url,
                dataType: 'json',
                async: true,
                data: data,
                success: function (){
                        location.reload(true);                    
                    }
      });
    })



  $('#quizAddAnswer').on('click', function(e){
    e.preventDefault();
    var answerInputField = '<div class="quizAnswer"><input type="text" class="form-control"><div class="checkbox"><label><input type="checkbox" > Check if Correct</label></div></div>';
    $('#quizAnswers').append(answerInputField);
  })

  $('#addQuestionModal').on('hide.bs.modal', function(e){
    var modal = $(this);
    modal.find(".quizAnswer").remove();
    //re-add an initial box
    var answerInputField = '<div class="quizAnswer"><input type="text" class="form-control"><div class="checkbox"><label><input type="checkbox" > Check if Correct</label></div></div>';
    $('#quizAnswers').append(answerInputField);
  });

  $("#addQuestion").submit(function(e){
        e.preventDefault();
        var form = $(this);
        var data = {}
        
        data.q = $("#quizQuestion").val();
        data.correct = $('#quizCorrectResponse').val();
        data.incorrect = $('#quizIncorrectResponse').val();

        var responses = [];
        

        form.find('.quizAnswer').each(function(){
          var res = {}
          res.option = $(this).find(':input').val();
          if( $(this).find('input:checked').prop('checked')){
            res.correct = true;
          } else {
            res.correct = false;
          }
          responses.push(res);
        });

        data.a = responses;

        $.ajax({
          type: "POST",
          url: "/api/quizzes/" + form.data('quizId') + "/questions",
          dataType: 'json',
          async: true,
          data: data,
          success: function (){
              location.reload(true);                    
            }
        });
  });

  $('#deleteQuestionModal').on('show.bs.modal', function(e){
        var button = $(e.relatedTarget); 
        var modal = $(this);
        modal.find('#questionDeleteConfirm').on('click', function(e){
            var url = "//api/quizzes/" + button.data('quizId') + "/questions/" + button.data('questionId');
            $.ajax({
                  type: "DELETE",
                  url: url,
                  dataType: 'json',
                  async: true,
                  success: function (){
                      location.reload(true);
                  }
            })
        })
  });

  $('#deleteQuizModal').on('hide.bs.modal', function(e){
        var modal = $(this);
        modal.find('#quizDeleteConfirm').off('click');
  });
    
})
</script>
</body>
</html>
