<%- include partials/header.ejs %>
<body>


<div class="container">
   

    <div class = "row">
        <div class = "col-md-12">
            <h1><span class="fa fa-user" aria-hidden="true"> </span> User: <%= user.local.profile.firstName %> <%=user.local.profile.lastName%></h1>
            <hr>
        <div>
    </div>

    <div class = "row">
        <div class="col-md-12">
            <h2>Details</h2>
        </div>
    </div>
    <div class = "row">
        <div class="col-md-12">
            <table width='100%' class="table table-striped">
            <thead>
                <th></th>
                <th></th>
                <th>Edit</th>
            </thead>    
            <tbody>
                <tr>
                    <td><strong>Email</strong></td>
                    <td><%= user.local.email %></td>
                    <td><button data-toggle="modal" data-target="#updateEmailModal" class="btn btn-default"><span class="fa fa-pencil" aria-hidden="true"></span></button></td>
                </tr>
                <tr>
                    <td><strong>Name</strong></td>
                    <td><%= user.local.profile.firstName %> <%=user.local.profile.lastName%></td>
                    <td><button data-toggle="modal" data-target="#updateNameModal" class="btn btn-default"><span class="fa fa-pencil" aria-hidden="true"></span></button></td>
                </tr>
                <tr>
                    <td><strong>User Name</strong></td>
                    <td><%= user.local.profile.userName %></td>
                </tr>
                <tr>
                    <td><strong>Password</strong></td>
                    <td></td>
                    <td><button data-toggle="modal" data-target="#updatePasswordModal" class="btn btn-warning"><span class="fa fa-key" aria-hidden="true"></span></button></td>
                </tr>
                <tr>
                    <td><strong>Role</strong></td>
                    <td><%=user.local.role%></td>
                    <td><button data-toggle="modal" data-target="#updateRoleModal" class="btn btn-danger"><span class="fa fa-pencil" aria-hidden="true"></span></button></td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <div class = "row">
        <div class="col-md-12">
            <h2>Academy Progress</h2>
            <table width='100%' class="table table-striped">
                <thead>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Progress </th>
                    <th>Completed</th>
                </thead>
                <tbody>
                    <% items.forEach(function(item){%>
                    <tr>
                        <td> <%=item.name%></td>
                        <td> <%=item.type%></td>
                        <td> <%=Math.round(item.progress)%> %</td>
                        <td> <%=item.completed%></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
    </div>

<!-- Modals -->

<div class="modal fade" id="updateEmailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "editEmail">
              <div class="form-group">
                <label forid="newEmail">New Email</label>
                <input required type="text" class="form-control" id="newEmail" value="<%=user.local.email%>"  placeholder="<%=user.local.email%>">
              </div>
              <button type="submit" data-user-id = "<%=user._id%>" class="btn btn-warning" id="updateEmail">Update Email</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="updatePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "editPassword">
              <div class="form-group">
                <label forid="newPassword">New Password</label>
                <input required type="text" class="form-control" id="newPassword" placeholder="New Password">
              </div>
              <button type="submit" data-user-id = "<%=user._id%>" class="btn btn-warning" id="updatePassword">Update Password</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="updateRoleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Role</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "editRole">
          <div class="form-group">
              <label>Role</label>
              <div class="radio">
                <label for="roleAdmin">
                <input type="radio"  name="optionsModuleRoles" id="roleAdmin" value="Admin" <% if (user.local.role=='Admin'){%> checked <%}%> > Admin</label>
              </div>
              <div class="radio">
                <label for="roleMember">
                <input type="radio" name="optionsModuleRoles" id="roleMember" <% if (user.local.role=='Member'){%> checked <%}%> value="Quiz"> Member</label>
              </div>
            </div>
              <button type="submit" data-user-id = "<%=user._id%>" class="btn btn-danger" id="updateRole">Update Role</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateNameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "editName">
              <div class="form-group">
                <label forid="newFirstName">First Name</label>
                <input required type="text" class="form-control" id="newFirstName" value="<%=user.local.profile.firstName %>" >
              </div>
              <div class="form-group">
                <label forid="newLastName">Last Name</label>
                <input required type="text" class="form-control" id="newLastName" value="<%=user.local.profile.lastName %>" >
              </div>
              <button type="submit" data-user-id = "<%=user._id%>"class="btn btn-warning" id="updateName">Update Name</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- scripts -->
<%- include partials/footer.ejs%>
<script>

$(document).ready(function(){

    $("#updateName").on('click', function(e){
      e.preventDefault();
      var url = "/api/users/" + $(this).data('userId');
      data = {
        firstName: $('#newFirstName').val(),
        lastName: $('#newLastName').val()
      }
      $.ajax({
                type: "PUT",
                url: url,
                dataType: 'json',
                async: true,
                data: data,
                success: function (){
                  location.reload(true);                    
                }
      });
    })

    $("#updateEmail").on('click', function(e){
      e.preventDefault();
      var url = "/api/users/" + $(this).data('userId');
      data = {
        email: $('#newEmail').val(),
      }
      $.ajax({
                type: "PUT",
                url: url,
                dataType: 'json',
                async: true,
                data: data,
                success: function (){
                  location.reload(true);                    
                }
      });
    })


      $("#updatePassword").on('click', function(e){
      e.preventDefault();
      var url = "/api/users/" + $(this).data('userId');
      data = {
        password: $('#newPassword').val()
      }
      $.ajax({
                type: "PUT",
                url: url,
                dataType: 'json',
                async: true,
                data: data,
                success: function (){
                  location.reload(true);                    
                }
      });
    })


      $("#updateRole").on('click', function(e){
      e.preventDefault();
      var url = "/api/users/" + $(this).data('userId');
      data = {
        role: $("input[name=optionsModuleRoles]:checked","#editRole").val()
      }
      console.log(data);
      $.ajax({
                type: "PUT",
                url: url,
                dataType: 'json',
                async: true,
                data: data,
                success: function (){
                  location.reload(true);                    
                }
      });
    })
    
})
</script>
</body>
</html>
