<!doctype html>
<html>
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag.js?id=UA-801596-11"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-801596-11');
    </script>

    <title>Academy by PatSnap</title>
        <link rel="apple-touch-icon" href="/public/apple-touch-icon.png">
        <link rel="stylesheet" href="/public/bootstrap.css" crossorigin="anonymous"> <!-- load bootstrap css -->    
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.4/jquery.typeahead.min.css" rel = "stylesheet">
		<link rel="canonical" href="//academy.patsnap.com" />
        <meta name="description" content="Learn about intellectual property, patents, and innovation for free at Academy by Patsnap.">
        <meta name="keywords" content="academy, patsnap, intellectual property, innovation, courses">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name=viewport content="width=device-width, initial-scale=1">

    <style>

	body{
    	padding-top:60px;
	}

    .jumbotron{
        background-image:url('//www.patsnap.com/hubfs/Academy/Images/AcademyLoginHeader.jpg');
        background-size:cover;
        color:#fff;
        min-height:400px;
		background-repeat:no-repeat;
		margin-bottom:0;
	}
	

    </style>
</head>
<body>

	    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
				<div class="container">
					  <a class="navbar-brand"  href="/"><img src="https://www.patsnap.com/hubfs/Academy/Logo/academy_rocket_logo_white_sm.svg" alt="Academy by PatSnap Logo" class="img-fluid" width="200"></a>
				   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>
					<!-- Collect the nav links, forms, and other content for toggling -->
				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					  <ul class=" navbar-nav mr-auto">
					   
					  </ul>
					  <ul class="nav navbar-nav navbar-right">
						<li class = "nav-item"><a href="/signup" class="nav-link">Sign Up</a></li>
						<li class = "nav-item"><a href="/login" class="nav-link">Login</a></li>
					  </ul>
					</div><!-- /.navbar-collapse -->
					</div>
				</nav>

   
   <div class="jumbotron text-center jumbotron-fluid">
    <div class="row">
        <div class="col-md-6 mr-auto ml-auto">
        <img width="620" class = "img-fluid academyLogo" src ="https://www.patsnap.com/hubfs/Academy/Logo/academy_rocket_logo_white.svg">
        </div>
	</div>

	</div>
	<div class="row bg-primary mb-4 pt-4 pb-3">
		<div class = 'container'>
			<div class="row">
			<div class='col-md-12 mb-2'>
					<form id="academy_search" name="academy_sesarch">
						<div class="typeahead__container">
							<div class="typeahead__field">
					 
								<span class="typeahead__query">
									<input class="js-typeahead-search" name="academy[query]" type="search" placeholder="Search Academy" autocomplete="off">
								</span>
								<span class="typeahead__button">
									<button type="submit">
										<i class="typeahead__search-icon"></i>
									</button>
								</span>
					 
							</div>
						</div>
					</form>
					<div id = 'search-error' class="alert alert-danger" role="alert" style="display:none;">Sorry, no items match your search. Try <a class="alert-link" href = "/courses">Browsing All Courses</a></div>
				</div>
			</div>
		</div>
	</div>


<div class="container main-content">

	<div class="row">
		<div class = "col-md-12">
			<h2 class="text-center">Start Learning</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<div class="card-deck mb-4">

			<% 	let counter = 1;
				let lastBreak = 0;

				let filteredCourses = courses.filter((course)=>{
					return course.published === true;
				})
			 filteredCourses.forEach((course)=>{
				 let filteredUnits = course.units.filter((unit)=>{
					 return unit.published === true;
				 })

				 filteredUnits.forEach(function(unit){ 
					
					let unitLength = Math.round(unit.modules.length/3)
					if(unitLength === 0){
						unitLength = 1;
					}
					
					%>
					
					<div class="card border">
						<img src="<%=unit.unitThumbImageUrl%>" alt="<%=unit.name%>" class="card-img-top" >
						<div class="card-body">
						  <h4 class="card-title"><%=counter%> <%=unit.name%></h4>
						  <h5 class="card-title"><%=course.name%> </h5>
						  <p class="card-text"><%=unit.shortDescription%> <br> 
						</div>
						<div class="card-footer border-0 bg-white">
							<p><%=unitLength%>&nbsp;
								<%if(unitLength > 1){ %>
									weeks
								<%} else {%>
									week
								<%}%>
							</p>
							<a href="/signup" class="btn btn-primary" >Start Learning for Free</a>
						</div>
					</div>

				<% 	
	
				if(counter%3 == 0){
					console.log('break') %>
					</div> </div></div>
					<div class="row">
							<div class="col-md-12">
					<div class="card-deck mb-4">
	
				<%
					}

					counter++; 	
				})
			})
			counter--; 
			if( (counter+1)%3 == 0){ %>
				<div class="card bg-white"></div>
				
			<%} %>
			<% if ((counter+2)%3 == 0 ){ %>
				<div class="card bg-white"></div>
				<div class="card bg-white"></div>
			<%}
			%>
			</div>
		</div>
	</div>

    <div class ="row bg-light">
    <div class="col-md-12 " >
    <h2 class="mt-4 text-center">About Academy by PatSnap</h2>
    <% if(options.academyIntroText){%>
    <div class = 'lead'> <%-options.academyIntroText%></div>
	<%}%>
	<br>
		<div class="row mb-4">
				<div class="col-md-2">&nbsp;</div>
				<div class = "col-md-8">
						<div class="embed-responsive embed-responsive-16by9">
								<iframe src="https://player.vimeo.com/video/276458260?color=00a5c4&byline=0&portrait=0" width="1280" height="720" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
						</div>
				</div>
				<div class="col-md-2">&nbsp;</div>
		</div>
		<div class="row mb-4">
				<div class = "col-md-12">
					<div class="text-center">
						<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//academy.patsnap.com"><img height="48" width="48" src="/public/facebook.png"></a>
						&nbsp;
						<a href="https://twitter.com/home?status=https%3A//academy.patsnap.com"><img height="48" width="48" src="/public/twitter.png"></a>
						&nbsp;
						<a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//academy.patsnap.com&title=Academy%20by%20PatSnap&summary=Free%20online%20video%20courses%20so%20individuals%20and%20organizations%20can%20broaden%20knowledge%20of%20intellectual%20property%20(IP)%20to%20drive%20ideas,%20creativity%20and%20commercial%20success.&source="><img height="48" width="48" src="/public/linkedin.png"></a>
					</div>
				</div>
		</div>
    </div>
    </div>
    

	<div class="row mb-4 mt-4">
		<div class="col-md-12">
			<h2 class="text-center">Why Choose Us</h2>
		</div>
	</div>
	
	<div class="row mb-4">
			<div class="col-md-4">
				<h4>Free Access</h4>
				<p>Enjoy free access to training from specialists in the field. Our courses include guest lecturers from universities, consultancies and experts in all areas of intellectual property.</p>	</div>
			<div class="col-md-4">
				<h4>Your own profile</h4>
				<p>Track your progress and keep tabs on where you’re up to on the courses you’re taking. Identify new areas where you can advance your understanding.</p>
			</div>
			<div class="col-md-4">
				<h4>Test your knowledge</h4>
				<p>Find out how much you’ve learned from our series of bite size videos and challenge yourself with our interactive tests and quizzes.</p>
			</div>
		</div>
	</div>
	
	<div class="row mb-4">
			<div class="col-md-12">
				<p class="text-center"><a href ="/signup" class="btn btn-primary">Sign Up</a></p>
			</div>
		</div>

<%- include academy/partials/footer.ejs %>

<script src = "//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.4/jquery.typeahead.min.js" integrity="sha256-b5MxNl2oj9DaD3wBVcYbNKWWwRrSwmBidi9St59Awu4=" crossorigin="anonymous"></script>
<script>
$(document).ready(function () {
	// search bar
   // this works but its not very elegant is it ? 
	function post(path, parameters) {
    var form = $('<form></form>');

    form.attr("method", "post");
    form.attr("action", path);

    $.each(parameters, function(key, value) {
        var field = $('<input></input>');

        field.attr("type", "hidden");
        field.attr("name", key);
        field.attr("value", value);

        form.append(field);
    });

    $(document.body).append(form);
    form.submit();
}



	$.typeahead({
    input: '.js-typeahead-search',
    minLength: 1,
    maxItem: 20,
    order: "asc",
    group: {
        template: "{{group}}"
    },
    template: "{{display}} <small style='color:#999;'>{{group}}</small>",
    source: {
        glossary: {
            ajax: {
                url: "/api/search",
                path: "data.glossary"
            }
        },
        courses: {
            ajax: {
                url: "/api/search",
                path: "data.courses"
            }
		},
		tags: {
            ajax: {
                url: "/api/search",
                path: "data.tags"
            }
        },
        
    },
    callback: {
        onNavigateAfter: function (node, lis, a, item, query, event) {
            if (~[38,40].indexOf(event.keyCode)) {
                var resultList = node.closest("form").find("ul.typeahead__list"),
                    activeLi = lis.filter("li.active"),
                    offsetTop = activeLi[0] && activeLi[0].offsetTop - (resultList.height() / 2) || 0;
 
                resultList.scrollTop(offsetTop);
            }
 
        },
        onClickAfter: function (node, a, item, event) {
            event.preventDefault();
            window.location.href = item.link;
        },
        onSubmit: function(node, form, item, event){
            event.preventDefault();
            if(item === null){
				
        		let query = $(".js-typeahead-search").val();

				post('/search', {query:query});
				
    	    } else {
                window.open(item.link);
            }
        }
    }
});

});


</script>

</body>
</html>
