<!doctype html>
<html>
<head>
 <title><%=pageInfo.title%> | Academy by PatSnap</title>
        <link rel="stylesheet" href="/public/bootstrap.css" crossorigin="anonymous"> <!-- load bootstrap css -->    
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<% if(pageInfo.activeNavItem == 'Glossary'){ %> <link href = '/public/docs.min.css' rel="stylesheet"> <%}%>

<style>
  body{
    padding-top:65px;
  }
  .jumbotron{
        background-color:#27688f;
        background-image:url(<%=pageInfo.jumbotronImageUrl%>);
        background-size:cover;
        color:#fff;
        background-repeat:no-repeat;
        min-height:280px;
  }
</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
<div class="container">
      <a class="navbar-brand"  href="/"><img src="https://www.patsnap.com/hubfs/Academy/Logo/academy_rocket_logo_white_sm.svg" alt="Academy by PatSnap Logo" class="img-fluid" width="200"></a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class=" navbar-nav mr-auto">
        <li class = "nav-item"><a href="/courses" class = "nav-link <% if(pageInfo.activeNavItem == 'Courses'){ %> active <%}%>" ><span class="fa fa-graduation-cap" aria-hidden="true"></span> Courses</a></li>
         <li class = "nav-item"><a href="/glossary" class = "nav-link <% if(pageInfo.activeNavItem == 'Glossary'){ %> active <%}%>" ><span class="fa fa-book" aria-hidden="true"></span> IP Glossary</a></li>
        <li class = "nav-item"><a href="/profile" class = "nav-link <% if(pageInfo.activeNavItem == 'Profile'){ %> active <%}%>" ><span class="fa fa-user-circle" aria-hidden="true"></span> Profile</a></li>
        <li class = "nav-item"><a href="//academybypatsnap.ideas.aha.io" class = "nav-link " target="_blank"><span class="fa fa-comment" aria-hidden="true"></span> Feedback</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class = "nav-item"><a href="/logout" class="nav-link">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div>
</nav>

<div class="container">
    <div class = row>
        <div class = "col-md-12">
            <ol class="breadcrumb">
                <% var crumbsCount = pageInfo.breadcrumbs.length;
                pageInfo.breadcrumbs.forEach(function(breadcrumb,i){
                  if(i+1 == crumbsCount){%>
                    <li class="breadcrumb-item active"><%-breadcrumb.title%></li>
                  <%}else{%>
                    <li class="breadcrumb-item"><a href="<%=breadcrumb.url%>"><%-breadcrumb.title%></a></li>
                <%}})%>
            </ol>
        </div>
    </div>
</div>
