<!doctype html>
<html>
<head>
    <title><%=course.name%> | Academy by PatSnap</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src = "//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src = "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    .jumbotron{
      background-image:url(<%=course.courseImageUrl%>);
      background-size:cover;
      color:#fff;
      min-height:400px;
    }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin"><span class="glyphicon glyphicon-education" aria-hidden="true"></span></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/admin/courses">Courses</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/admin/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">

  <div class = row>
        <div class = "col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/courses">Courses</a></li>
                <li class="active"><%=course.name%></li>
            </ol>
        </div>
    </div>
</div>
<div class="container">
  <div class="jumbotron">
    <h1><%=course.name%></h1>
  </div>

    <div class = "row">
        <div class = "col-md-12">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Course Description</h3>
            </div>
          <div class="panel-body">
            <%=course.description%>  </div>
          </div>
        </div>
    </div>
    
    <div class="row">
        <div class = "col-md-12">
            <h2>Units</h2>
        </div>
    </div>
    
    <div class = "row">
        <div class = "col-md-12">

        <% course.units.forEach(function(unit){
          if(unit.published == true) { %>
              <div class="col-md-4">
                <div class="thumbnail">
                  <img src="<%=unit.unitThumbImageUrl%>" alt="<%=unit.name%>">
                  <div class="caption">
                    <h3><%=unit.name%></h3>
                    <p><%=unit.description%></p>
                    <p><a href="/courses/<%=course._id%>/units/<%=unit._id%>" class="btn btn-primary" role="button">Take the Unit</a></p>
                  </div>
                </div>
              </div>
            <% 
            }
            }); %>

        </div>
    </div>
    
</div>


</body>
</html>
