<!doctype html>
<html>
<head>
    <title><%=unit.name%>| Academy by PatSnap</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> <!-- load bootstrap css -->    
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style>
  body{
    padding-top:65px;
  }
      .jumbotron{
      background-image:url(<%=unit.unitImageUrl%>);
      background-size:cover;
      color:#fff;
      min-height:340px;
    }
</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand"  href="/"><img src="https://www.patsnap.com/hubfs/Academy/Logo/Academy_Logo_WHITE-Text-sm.png" alt="Academy by PatSnap Logo"></a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class=" navbar-nav mr-auto">
        <li class = "nav-item "><a href="/courses" class = "nav-link active" >Courses</a></li>
        <li class = "nav-item"><a href="/profile" class = "nav-link" >Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class = "nav-item"><a href="/logout" class="nav-link">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<div class="container">

  <div class = row>
        <div class = "col-md-12">
            <ol class="breadcrumb">
                <li class = "breadcrumb-item"><a href="/">Home</a></li>
                <li class = "breadcrumb-item"><a href="/courses">Courses</a></li>
                <li class = "breadcrumb-item"><a href="/courses/<%=course._id%>/"><%=course.name%></a></li>
                <li class = "breadcrumb-item active"><%=unit.name%></li>
            </ol>
        </div>
    </div>
</div>


<div class="container">
  <div class="row">
  <div class="col-md-6">
    <div class="jumbotron">
      <h3><%=course.name%></h3>
      <h1><%=unit.name%></h1>
    </div>
  </div>
  <div class="col-md-5 ml-auto mb-4">
    <h4>Description</h4>
    <p><%=unit.description%></p>
    <h5>Duration</h5>
      <div>This unit has <span id="totalDuration">0</span> Minutes of videos.</div>
    <h4>Unit Progress</h4>
    <div class="progress mb-2" data-course-id="<%=course._id%>" data-user-id="<%=user._id%>" data-unit-id="<%=unit._id%>">
      <div class="progress-bar" role="progressbar" aria-valuenow="<%=unitProgress%>" style="width:<%=unitProgress%>%; " aria-valuemin="0" aria-valuemax="100"><%=unitProgress%>%</div>
    </div>
    <h5>Modules</h5>
        <% if(unit.modules.length > 0 ){
          //sort modules 
          unit.modules.sort(function(a,b){
            if(a.order < b.order){
              return -1;
            }
            if(a.order > b.order){
              return 1;
            }
            return 0;

          });
         %>
        <ol>
         <% unit.modules.forEach(function(module,i){ %>
            <% if(module.type == 'Video'){%>
            <li><a href="#module-<%=i%>"><%=module.name%></a></li>
            <%}%>
            <% if(module.type == 'Quiz'){%>
            <li><a href="#module-<%=i%>">Quiz</a></li>
            <%}%>
         <%})%>
        </ol>
        <%}%>
  </div> 
</div>

      <div class = "row">
        <div class = "col-md-12">
        <h3>Modules</h3>
        <hr>
        </div>
      </div>

    <% if(unit.modules.length > 0 ){ %>
      
            <% unit.modules.forEach(function(module,i){ %>
            <div class = "row">
          <div class = "col-md-12 mb-4"> 
               <% if(module.type == 'Video'){
                  let moduleCompleted = false;
                  let filteredItems = items.filter(i => i.id == module._id); 
                      if(filteredItems.length > 0){
                        moduleCompleted = filteredItems[0].completed;
                        } %>

                  <div class="card" id="module-<%=i%>">
                      <div class="card-body">
                        <div id ="video-<%=i%>" data-module-id = "<%=module._id%>" data-user-id="<%=user._id%>" data-unit-id="<%=unit._id%>" data-course-id="<%=course._id%>" data-vimeo-id="<%=module.contentId%>" class="embed-responsive embed-responsive-16by9 videoContainer"></div>
                        <div class = "row  mt-4">
                        <div class="col-md-3">
                        <h5 class="card-title">Module <%=i+1%> </h5>
                        <h4 class="card-title"><%= module.name %></h4> 
                        <p><strong>Duration: </strong><span id = "duration-<%=i%>">0</span> Minutes</p>
                        <%if(moduleCompleted){%>
                        Completed
                        <%}%>
                        </div>
                        <div class = "col-md-7 ml-auto">
                        <div class="card-text">
                          <%=module.description%>
                        </div>
                        </div>
                        </div>
                      </div>
                  </div>                            

            <% }if(module.type == 'Quiz'){ %>
                <div class="card" id = "module-<%=i%>">
                  <div class="card-header">Test Your Knowledge</div>
                  <div class = "card-body">
                <p>When you are ready to complete this unit, take the quiz to see what you remember.</p>
                <p>
                <a href = "/courses/<%=course._id%>/units/<%=unit._id%>/quiz/<%=module.contentId%>" class="btn btn-primary">Take the Quiz</a>   </p>
                </div>
                </div>

           <% } %>
 

        </div>
    </div>
           <% }); %>

    <% } %>

</div>

</div>

<%- include partials/footer.ejs %>



<script src="https://player.vimeo.com/api/player.js"></script>

<script src = "//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<script>

function updateProgressBar(){
    var progress = $('.progress');
     var url = "/api/progress/" + progress.data('userId') + '/courses/' + progress.data('courseId') + '/units/'+ progress.data('unitId');
     data = {
     }
     $.ajax({
       type: "GET",
       url: url,
       dataType: 'json',
       async: true,
       data: data,
       success: function (data){
                 $('.progress-bar').text(data.progress + ' %');
                 $('.progress-bar').css('width',data.progress+'%');
       }
     });
}

$(document).ready(function(){


  var totalModuleDuration = 0;

  $('.videoContainer').each(function(i){
    let vc = $(this);
    
     let played = false;

     var videoPlayer = new Vimeo.Player(vc.attr('id'));
     videoPlayer.getDuration().then(function(duration){
      $("#duration-"+i).text( (duration/60).toFixed(1) );
      totalModuleDuration += duration;
      $("#totalDuration").text( Math.round(totalModuleDuration / 60));
     })

     videoPlayer.on('timeupdate', function(t){
        if(t.percent >= 0.5){
          if(played == false){
               var url = "/api/progress/" + vc.data('userId') + '/courses/' + vc.data('courseId') + '/units/' + vc.data('unitId') + '/modules/' + vc.data('moduleId');
               data = {
                itemCompleted: true,
                itemProgress: 100
               };
               $.ajax({
                 type: "PUT",
                 url: url,
                 dataType: 'json',
                 async: true,
                 data: data,
                 success: function (){
                    updateProgressBar();
                 }
               });

          }
          played = true;
        }
     })

  })

})
</script>
</body>
</html>
