<!doctype html>
<html>
<head>
    <title><%=unit.name%>| Academy by PatSnap</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src = "//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src = "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    .jumbotron{
      background-image:url(<%=unit.unitImageUrl%>);
      background-size:cover;
      color:#fff;
      min-height:400px;
    }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin"><span class="glyphicon glyphicon-education" aria-hidden="true"></span></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/admin/courses">Courses</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/admin/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">

  <div class = row>
        <div class = "col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/courses">Courses</a></li>
                <li><a href="/courses/<%=course._id%>/"><%=course.name%></a></li>
                <li class = "active"><%=unit.name%></li>
            </ol>
        </div>
    </div>
</div>
<div class="container">
  <div class="jumbotron">
    <h2><%=course.name%></h2>
    <h1><%=unit.name%></h1>
  </div>

    <div class = "row">
        <div class = "col-md-12">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Unit Description</h3>
            </div>
          <div class="panel-body">
            <%=unit.description%>  </div>
          </div>
        </div>
    </div>

    <% if(unit.modules.length > 0 ){ %>
    <div class = "row">
        <div class = "col-md-12">
        <h3>Modules</h3>
            <% unit.modules.forEach(function(module){ 
                if(module.type == 'Video'){%>
                
                  <div  class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title"><%= module.name %></h3>
                      </div>
                      <div class="panel-body">
                        <%=module.description%>
                        <div data-vimeo-id="<%=module.contentId%>"></div>
                      </div>
                  </div>                            

            <% }if(module.type == 'Quiz'){ %>
                
                <a href = "/courses/<%=course._id%>/units/<%=unit._id%>/quiz/<%=module.contentId%>" class="btn btn-primary" role="button" >Take the Quiz</a>   

           <% }}); %>
            </tbody>
            </table>
        </div>
    </div>
    <% } %>

</div>


<script src="https://player.vimeo.com/api/player.js"></script>

<script>

$(document).ready(function(){



})
</script>
</body>
</html>
